<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>

<body>
<table border="1">
    <thead>
        <th>Question</th>
        <th>Answer</th>
        <th>Action</th>
    </thead>
    <tbody>
        <%detail.forEach(x=>{%>
        <tr>
            <td><%=x.question%></td>
            <td><%=x.Answer.answer%></td>
            <td>
                <a href="/admin/edit/<%=x.id%>"><button type="button" style="color:#CB0000; background:#ffffff"> Edit </button></a>
                <a href="/admin/delete/<%=x.id%>"><button type="button" style="color:#CB0000; background:#ffffff"> Delete </button></a>
            </td>
        <%})%>
        </tr>
    </tbody>
</table>
</body>
</html>