<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>

<body>
    <h1> Edit Question</h1>
    <form action="/admin/edit/<%=detail.id%>" method="post">
        <label for="question">Question</label>
        <br>
        <br>
        <input type="text" id ="question" name="question" value="<%=detail.question%>">
        <br>
        <br>
        <label for="answer">Answer</label>
        <br>
        <br>
        <input type="text" id ="answer" name="answer" value="<%=detail.Answer.answer%>">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>