<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Welcome</h1>
    <h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum asperiores aliquam deserunt dolor repellat reiciendis optio illo sed officiis mollitia placeat, vel aliquid quis delectus, iste sit aut soluta commodi quam facilis cupiditate quo. Commodi laborum quis dolores sequi dolor? Eius quod, perspiciatis iure excepturi eos libero itaque repudiandae ratione?</p></h3>
    <a href="/signIn"><button type = "button" style="color:#ffffff; background:#003B46"> Sign In</button></a>
    <a href="/signUp"><button type = "button" style="color:#ffffff; background:#003B46"> Sign Up</button></a>
</body>
</html>