<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducationPP</title>
</head>
<body>
    <h3> Welcome Student !
        <button><a a href="/"> Home </a></button>
        <button><a a href="/score"> Score </a></button>
    </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident error eaque, reiciendis deserunt dolor iusto ex minima accusantium dolores ad commodi dolore perferendis excepturi, eligendi quam dolorum a vitae ab perspiciatis, illo doloremque id et voluptatibus. Obcaecati sunt ex sed quasi saepe vero esse, temporibus voluptate nemo, omnis eum minima.
    </p>
    <button><a href="/signIn"> Sign In </a></button>
    <button><a href="/signUp"> Sign Up </a></button>
    </form>
</body>
</html>