<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>

<body>
    <form action="/user" method="post">
        <%detail.forEach(x=>{%>
        <label for="question">Question</label>
        <input type="text" id ="question" name="question", value="<%=x.question%>">
        <br>
        <br>
        <label for="answer">Answer</label>
        <input type="answer" id ="answer" name="answer">
        <br>
        <br>
        <%})%>
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>